Repository core-ds/core-components, pull requests merged in 2025-09, with the labels that each got.

#1672 fix/universal-modal (DS-10362)
  .changeset/short-laws-give.md
  packages/universal-modal/package.json
  packages/universal-modal/src/desktop/components/buttons/arrow-button/arrow-button.module.css
  packages/universal-modal/src/desktop/components/buttons/arrow-button/arrow-button.tsx
  packages/universal-modal/src/desktop/components/buttons/arrow-button/index.ts
  packages/universal-modal/src/desktop/components/buttons/cross-button/cross-button.module.css
  packages/universal-modal/src/desktop/components/buttons/cross-button/cross-button.tsx
  packages/universal-modal/src/desktop/components/buttons/cross-button/index.ts
  packages/universal-modal/src/desktop/components/center-modal/center-modal.tsx
  packages/universal-modal/src/desktop/index.ts
  packages/universal-modal/src/desktop/types/props.ts
  packages/universal-modal/src/docs/development.mdx
  packages/universal-modal/src/mobile/components/buttons/arrow-button/arrow-button.module.css
  packages/universal-modal/src/mobile/components/buttons/arrow-button/arrow-button.tsx
  packages/universal-modal/src/mobile/components/buttons/arrow-button/index.ts
  packages/universal-modal/src/mobile/components/buttons/cross-button/cross-button.module.css
  packages/universal-modal/src/mobile/components/buttons/cross-button/cross-button.tsx
  packages/universal-modal/src/mobile/components/buttons/cross-button/index.ts
  packages/universal-modal/src/mobile/index.ts
  packages/universal-modal/tsconfig.build.json
  packages/universal-modal/tsconfig.json
Labels: breaking change

#1851 feat/portal 50
  .changeset/funny-masks-turn.md
  .changeset/long-rats-agree.md
  packages/config/src/CoreConfigContext.tsx
  packages/portal/package.json
  packages/portal/src/Component.test.tsx
  packages/portal/src/Component.tsx
  packages/portal/src/docs/Component.stories.tsx
  packages/portal/src/docs/development.mdx
  packages/portal/src/hooks/usePortalContainer.tsx
  packages/portal/src/utils.ts
  packages/portal/tsconfig.build.json
  packages/portal/tsconfig.json
  packages/shared/src/context/PortalContext/PortalContext.ts
  packages/shared/src/context/PortalContext/index.ts
  packages/shared/src/index.ts
Labels: breaking change

#1635 refactor(base-modal): get rid of matches-polyfill.ts
  .changeset/famous-camels-brake.md
  packages/base-modal/src/Component.tsx
  packages/base-modal/src/matches-polyfill.ts
Labels: breaking change

#1686 refactor(tooltip): get rid of deprecated props
  .changeset/tame-dancers-grow.md
  packages/tooltip/src/docs/Component.stories.tsx
  packages/tooltip/src/types.ts
Labels: breaking change

#1648 refactor(circular-progress-bar): get rid of letter sizes
  .changeset/thick-laws-search.md
  packages/circular-progress-bar/src/Component.tsx
  packages/circular-progress-bar/src/types/component-size.ts
  packages/generic-wrapper/src/docs/description.mdx
Labels: breaking change

#1645 Refactor/checkbox radio get rid of deprecated
  .changeset/cold-pugs-cross.md
  .changeset/great-carrots-wink.md
  packages/accordion/src/docs/description.mdx
  packages/amount-input/src/docs/description.mdx
  packages/amount/src/docs/description.mdx
  packages/bottom-sheet/src/docs/description.mdx
  packages/calendar/src/docs/description.mdx
  packages/checkbox/src/Component.screenshots.test.ts
  packages/checkbox/src/Component.test.tsx
  packages/checkbox/src/Component.tsx
  packages/checkbox/src/__image_snapshots__/checkbox-checked-indeterminate-sprite-2-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-checked-indeterminate-sprite-3-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-checked-indeterminate-sprite-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-checked-sprite-2-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-checked-sprite-3-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-checked-sprite-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-indeterminate-sprite-2-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-indeterminate-sprite-3-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-indeterminate-sprite-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-sprite-2-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-sprite-3-snap.png
  packages/checkbox/src/__image_snapshots__/checkbox-inactive-checked-sprite-snap.png
  packages/dropzone/src/docs/description.mdx
  packages/gallery/src/docs/description.mdx
  packages/icon-view/src/docs/description.mdx
  packages/international-phone-input/src/docs/description.mdx
  packages/modal/src/docs/description.mdx
  packages/plate/src/docs/description.mdx
  packages/product-cover/src/docs/description.mdx
  packages/radio/src/Component.test.tsx
  packages/radio/src/Component.tsx
  packages/radio/src/__image_snapshots__/radio-click-theme-snap.png
  packages/radio/src/__image_snapshots__/radio-default-theme-snap.png
  packages/radio/src/__image_snapshots__/radio-mobile-theme-snap.png
  packages/radio/src/component.screenshots.test.tsx
  packages/select/src/components/base-checkmark/Component.tsx
  packages/select/src/components/checkmark/Component.tsx
  packages/select/src/presets/useSelectWithApply/options-list-with-apply/header/Component.tsx
  packages/tab-bar/src/docs/description.mdx
  packages/table/src/docs/description.mdx
Labels: breaking change

#1888 fix(side-panel): add unmount footer setState
  .changeset/orange-jars-shake.md
  packages/side-panel/src/components/footer/Component.tsx
Labels: next release, contribution

#1620 feat(shared): add atom imports for browser, os utils;
  .changeset/neat-tables-burn.md
  packages/base-modal/src/Component.tsx
  packages/base-modal/src/utils.ts
  packages/bottom-sheet/src/component.tsx
  packages/number-input/src/components/number-input/Component.tsx
  packages/shared/src/browser.ts
  packages/shared/src/hooks/useCustomWebkitScrollbar.ts
  packages/shared/src/os.ts
  packages/universal-modal/src/desktop/components/center-modal/center-modal.tsx
Labels: breaking change, contribution
